<%- include('../navigation/header') %>
<div class="row">
    <div class="col-lg-2 col-md-12 desktop-view">
        <div id="accordion">
            <!-- <div class="card">
                <div class="card-header" id="headingzero">
                    <h5 class="mb-0">
                        <a href="/admin/news" class="btn btn-link">
                            <span><i class="fab fa-dyalog"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ads-text">Dashboard</span>
                        </a>
                    </h5>
                </div>
            </div> -->
            <% if(role_id == 1 || role_id == 2){%>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span id="admin_icon"><i class="fas fa-user-tie"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="admin-text">Users<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                    <a href="/admin/users" class="list-group-item list-group-item-action">
                                        All Users
                                    </a>
                                    <a href="/admin/add-user" class="list-group-item list-group-item-action">Create User</a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span id="news_icon"><i class="far fa-newspaper"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="news-text">News<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="list-group">
                            <a href="/admin/add-news" class="list-group-item list-group-item-action">Create News</a>
<a href="/admin/news" class="list-group-item list-group-item-action">
                                My News
                            </a>

                            <% if(role_id == 1 || role_id == 2){%>
                                <a href="/admin/admin-news" class="list-group-item list-group-item-action">
                                    Admin News
                                </a>
                                <a href="/admin/reporter-news" class="list-group-item list-group-item-action">
                                    Reporter News
                                </a>
                                <a href="/admin/user-news" class="list-group-item list-group-item-action">
                                    User News
                                </a>
                                <a href="/admin/tags" class="list-group-item list-group-item-action">
                                    Tags
                                </a>
                                <a href="/admin/pool" class="list-group-item list-group-item-action">
                                    Pool
                                </a>
                                <a href="/admin/categories" class="list-group-item list-group-item-action">
                                    All State,City,District
                                </a>
                                <a href="/admin/add-category" class="list-group-item list-group-item-action">Create State,City,District</a>
                            <%}%>
                            
                        </div>
                    </div>
                </div>
            </div>
            <% if(role_id == 1 || role_id == 2){%>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <a href="/admin/slider" class="btn btn-link">
                                <span id="banner_icon"><i class="fas fa-image"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="banner-text">Slider</span>
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <a href="/admin/ads" class="btn btn-link">
                                <span id="ads_icon"><i class="fas fa-ad"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ads-text">Ads</span>
                            </a>
                        </h5>
                    </div>
                </div> 
                <div class="card">
                    <!-- <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                <span id="dr_icon"><i class="fas fa-folder"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dr-text">Directory<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div> -->
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="/admin/posts" class="list-group-item list-group-item-action">
                                    My Posts
                                </a>
                                <a href="/admin/forms" class="list-group-item list-group-item-action">
                                    Forms
                                </a>
                                    <a href="/admin/add-dcategory" class="list-group-item list-group-item-action">
                                        All State,City,District
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                <span id="dr_icon"><i class="fas fa-copy"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dr-text">E-paper<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="/admin/e-paper" class="list-group-item list-group-item-action">
                                    My E-papers
                                </a>
                                    <a href="/admin/add-epaper-category" class="list-group-item list-group-item-action">
                                        Create epaper-category
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
    <div class="col-lg-10 col-md-12" style="overflow-y: scroll;height: 90vh;">
        <div class="container-fluid" style="background-color: white;width: 100%;padding: 0;border-radius: 10px;box-shadow: 0 0 12px rgba(0,0,0,0.1);overflow: hidden">
            <div class="row">
                <div class="col-lg-4 col-md-12" style="padding: 25px 20px 30px 35px;height: 80vh;overflow-y: scroll">
                    <h5 style="font-weight: bold;letter-spacing: 1px;text-align: center">E-paper</h5>
                    <br>
                    <form action="/admin/add-epaper-pdf" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Category</label>
                            <select class="form-control" name="category">
                                <%for(var i = 0;i<category.length;i++){%>
                                <option value="<%=category[i].name%>"><%=category[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                        <input type="hidden" name="admin_id" value=<%=admin_id%>>
                        <div class="form-group">
                            <label for="">Date</label>
                            <input type="date" class="form-control" name="created_at" required>
                        </div>
                        <div class="form-group">
                            <label for="">Thumbnail (Size less than 300kb)</label>
                            <input type="file" class="form-control-file" id="thumbnail" name="thumbnail" accept="image/*" required>
                        </div>
                        <div class="form-group">
                            <div class="row" id="addedHere">
                                <div class="col-6">
                                    <label for="">Page 1</label>
                                    <input type="file" class="form-control-file" name="pdf" id="img" accept="image/*" required>
                                </div>
                                <div class="col-6">
                                    <br>
                                    <a href="#" class="btn btn-primary" style="width: 100%;background-color: #556ee6" onclick="addPage()">Add More Page</a>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;background-color: #556ee6">Add</button>
                    </form>
                </div>
                <div class="col-lg-8 col-md-12" style="background-color: white;text-align: center;height: 80vh;overflow-y: scroll">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Pdf</th>
                            <th>Category</th>
                            <th>Date & Time</th>
                            <th>Notification</th>
                            <th>Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%for(var i=0;i<epaper.length;i++){%>
                            <tr>
                                <th><%= i+1 %></th>
                                <td>
                                    <a href="/admin/epaper-images/<%=epaper[i].id%>" class="btn btn-primary">Open</a>
                                </td>
                                <td><%= epaper[i].category%></td>
                                <td><%= epaper[i].created_at %></td>
                                <td style="padding: 0">
                                    <div class="row" style="margin-top: 5px">
                                        <div class="col-12" style="text-align: center">
                                            <a href="#" onclick="sendNotification('ई-पेपर पढ़ने के लिए क्लिक करें','<%= epaper[i].created_at %>','<%= epaper[i].thumbnail %>','<%= epaper[i].category %>')" style="background-color: #007BFF;color:white;text-decoration: none;padding: 4px 7px;border: 0" class="btn btn-primary">Send</a>
                                        </div>
                                    </div>
                                </td>
                                <%if(role_id == 1){%>
                                    <td>
                                        <div class="row">
                                            <div class="col-2">
                                                <a href="/admin/delete-epaper/<%= epaper[i].id%>" style="color: #DC3545;text-decoration: none;padding: 4px 8px;border-radius: 50%" class="confirm"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                <%} else if(role_id == 2) {%>
                                <%if(admin_id == epaper[i].user_id){%>
                                    <td>
                                        <div class="row">
                                            <div class="col-2">
                                                <a href="/admin/delete-epaper/<%= epaper[i].id%>" style="color: #DC3545;text-decoration: none;padding: 4px 8px;border-radius: 50%" class="confirm"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                <%} else {%>
                                    <td>Not allowed to delete</td>
                                <%}%>
                                <%}%>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="sendingNotification" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 9999999999999999;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Sending Notification Please Wait!!</h3>
        </div>
      </div>
    </div>
  </div>

<br>
<script>
    $('a.confirm').on('click', function(){
        if(!confirm('Confirm Deletion')){
            return false;
        }
    });
    var j = 1;
    function addPage(){
        j++;
        $('#addedHere').append('<div class="col-6" id="one'+j+'"> <label for="">Page '+j+'</label><input type="file" class="form-control-file" name="pdf" id="img" accept="image/*" required></div><div class="col-6" id="two'+j+'"><br><a href="#" class="btn btn-danger" style="width: 100%" onclick="DeletePage('+j+')">Delete</a></div>');
    }
    function DeletePage(j){
        $('#one'+j).remove();
        $('#two'+j).remove();
    }
    $('#thumbnail').change(function (){
       // console.log(this.files);
        var size = parseInt(this.files[0].size/1000);
        if(size > 300){
            alert('Size cannot be greater than 300kb!');
            document.getElementById('thumbnail').value = "";
        }
    });
    function sendNotification(title,description,image,category){
        var send_image = `https://popularapp.in/thumbnail/${image}`;
        $('#sendingNotification').modal('toggle');
        $.ajax({
            url:"/admin/sendNotification",
            dataType: "jsonp",
            type:"POST",
            data:{
                title:title,
                description:`${description.slice(0,15)}, ${category}`,
                // image:send_image
            },
            success: function(data){
                console.log('done');
                if(data.message == 'success'){
                    alert('notification sent');
                $('#sendingNotification').modal('toggle');
                } else {
                    alert('Some error occured');
                $('#sendingNotification').modal('toggle');
                }
                $('#sendingNotification').modal('toggle');
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
</script>

<%- include('../navigation/footer') %>