<%- include('../navigation/header') %>

<div class="row">
    <div class="col-lg-2 col-md-12 desktop-view">
        <div id="accordion">
            <!-- <div class="card">
                <div class="card-header" id="headingzero">
                    <h5 class="mb-0">
                        <a href="/admin/news" class="btn btn-link">
                            <span><i class="fab fa-dyalog"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ads-text">Dashboard</span>
                        </a>
                    </h5>
                </div>
            </div> -->
            <% if(role_id == 1 || role_id == 2){%>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span id="admin_icon"><i class="fas fa-user-tie"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="admin-text">Users<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                    <a href="/admin/users" class="list-group-item list-group-item-action">
                                        All Users
                                    </a>
                                    <a href="/admin/add-user" class="list-group-item list-group-item-action">Create User</a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span id="news_icon"><i class="far fa-newspaper"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="news-text">News<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="list-group">
                            <a href="/admin/news" class="list-group-item list-group-item-action">
                                My News
                            </a>
                            <% if(role_id == 1 || role_id == 2){%>
                                <a href="/admin/admin-news" class="list-group-item list-group-item-action">
                                    Admin News
                                </a>
                                <a href="/admin/reporter-news" class="list-group-item list-group-item-action">
                                    Reporter News
                                </a>
                                <a href="/admin/user-news" class="list-group-item list-group-item-action">
                                    User News
                                </a>
                                <a href="/admin/tags" class="list-group-item list-group-item-action">
                                    Tags
                                </a>
                                <a href="/admin/categories" class="list-group-item list-group-item-action">
                                    All State,City,District
                                </a>
                                <a href="/admin/add-category" class="list-group-item list-group-item-action">Create State,City,District</a>
                            <%}%>
                            <a href="/admin/add-news" class="list-group-item list-group-item-action">Create News</a>
                        </div>
                    </div>
                </div>
            </div>
            <% if(role_id == 1 || role_id == 2){%>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <a href="/admin/slider" class="btn btn-link">
                                <span id="banner_icon"><i class="fas fa-image"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="banner-text">Slider</span>
                            </a>
                        </h5>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <a href="/admin/ads" class="btn btn-link">
                                <span id="ads_icon"><i class="fas fa-ad"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ads-text">Ads</span>
                            </a>
                        </h5>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                <span id="dr_icon"><i class="fas fa-folder"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dr-text">Directory<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="/admin/posts" class="list-group-item list-group-item-action">
                                    My Posts
                                </a>
                                <a href="/admin/forms" class="list-group-item list-group-item-action">
                                    Forms
                                </a>
                                    <a href="/admin/add-dcategory" class="list-group-item list-group-item-action">
                                        All State,City,District
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                <span id="dr_icon"><i class="fas fa-copy"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dr-text">E-paper<i class="fas fa-caret-down" style="margin-left: 10px"></i></span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="/admin/e-paper" class="list-group-item list-group-item-action">
                                    My E-papers
                                </a>
                                    <a href="/admin/add-epaper-category" class="list-group-item list-group-item-action">
                                        All State,City,District
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
    <div class="col-lg-10 col-md-12">
    <div class="container-fluid" style="padding: 0px">
        <div class="row" style="border-radius: 0px;box-shadow: 0px 0px 12px rgba(0,0,0,0.1);padding: 10px 20px;background-color: white;width: 100%;margin: 0;background-color: white;color: white">
            <!-- <div class="col-lg-1 col-5" style="padding: 0px 5px;height: 40px">
                <p style="font-weight: bold;letter-spacing: 1px">News</p>
            </div> -->
            <div class="col-lg-2 col-7" style="padding: 0px 5px;height: 40px;text-align: center">
                <a href="/admin/add-news" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Add News</a>
                <br><br>
            </div>
            <div class="col-lg-4 col-md-12" style="padding: 0px 5px;height: 40px;text-align: center">
                <% if(user == 'my'){%>
                    <a href="/admin/news" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Approved</a>
                    <a href="/admin/news/not-approved" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Not Approved</a>
                <%}%>
                <% if(user == 'admin'){%>
                    <a href="/admin/admin-news" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Approved</a>
                    <a href="/admin/admin-news/not-approved" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Not Approved</a>
                <%}%>
                <% if(user == 'reporter'){%>
                    <a href="/admin/reporter-news" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Approved</a>
                    <a href="/admin/reporter-news/not-approved" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Not Approved</a>
                <%}%>
                <% if(user == 'user'){%>
                    <a href="/admin/user-news" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Approved</a>
                    <a href="/admin/user-news/not-approved" class="btn btn-primary" style="background-color: #ff6600;color: white;border: 0">Not Approved</a>
                <%}%>
            </div>
            <div class="col-lg-2 col-md-12" style="padding: 0px 5px;height: 40px">
                <div class="form-group">
                    <select class="form-control" name="query" id="query">
                        <option value="title">Title</option>
                        <option value="category">Category</option>
                        <option value="subcategory">Sub Category</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-12" style="padding: 0px 5px;height: 40px">
                <div class="form-group">
                    <input type="text" name="name" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search by Title/Categories/Sub-category">
                </div>
            </div>
        </div>
        <div class="table-responsive" style="height: 80vh;padding: 0;margin: 0;overflow-y: scroll;border-radius: 0px" onscroll="getMoreNews('<%= user %>','<%= is_approved %>')">
            <table class="table" id="myTable" style="padding: 0;background-color: white;margin: 0;border-radius: 0px">
                <thead>
                <tr>
                    <th scope="col">S.no.</th>
                    <th scope="col">Title</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                    <th scope="col">District</th>
                    <th scope="col">Options</th>
                    <% if(role_id == 1 || role_id == 2){%>
                        <th scope="col">Important</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Notification</th>
                        <th scope="col">Posted By</th>
                    <%}%>
                    <th scope="col">Views</th>
                </tr>
                </thead>
                <tbody id="addNews">
                <% for(var i=0;i<news.length;i++){ %>
                    <tr>
                        <th style="padding: 0 5px"><%= i+1 %></th>
                        <td style="padding: 0">
                            <p style="height: 40px;overflow: hidden;padding: 0;margin: 0">
                                <%= news[i].title %>
                            </p>
                        </td>
                        <td style="padding: 0"><%= news[i].state %></td>
                        <td style="padding: 0"><%= news[i].city %></td>
                        <%if(news[i].district == 'null'){%>
                            <td style="padding: 0">Other</td>
                        <%} else {%>
                            <td style="padding: 0"><%= news[i].district %></td>
                        <%}%>
                        <td style="padding: 0">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/admin/edit-news/<%= news[i].news_id%>" style="background-color: #007BFF;color:white;text-decoration: none;padding: 4px 7px;border: 0" class="btn btn-primary">Edit</a>
                                </div>
                                <% if(role_id == 1 || role_id == 2){%>
                                <div class="col-6">
                                    <a href="/admin/delete-news/<%= news[i].news_id%>" style="background-color: #DC3545;text-decoration: none;padding: 4px 8px;border:0;color: white" class="confirm btn btn-primary">Delete</a>
                                </div>
                                <%}%>
                            </div>
                        </td>
                        <% if(role_id == 1 || role_id == 2){%>
                        <%if(news[i].imp == 1){%>
                            <td style="text-align: center;padding: 0">
                                <div class="form-group">
                                    <input type="checkbox" name="is_imp" id="" value="<%= news[i].news_id %>" onchange="unchecked(this.value)" checked>
                                </div>
                            </td>
                        <%} else {%>
                            <td style="text-align: center;padding: 0">
                                <div class="form-group">
                                    <input type="checkbox" name="is_not_imp" id="" onchange="checkedit(this.value)" value="<%= news[i].news_id %>">
                                </div>
                            </td>
                        <%}%>
                        <%if(news[i].is_approved == 1){%>
                            <td style="text-align: center;padding: 0">
                                <div class="form-group">
                                    <input type="checkbox" name="is_approved" id="" value="<%= news[i].news_id %>" onchange="approved(this.value)" checked>
                                </div>
                            </td>
                        <%} else {%>
                            <td style="text-align: center;padding: 0">
                                <div class="form-group">
                                    <input type="checkbox" name="is_not_approved" id="" value="<%= news[i].news_id %>" onchange="notapproved(this.value)">
                                </div>
                            </td>
                        <%}%>
                        <td style="padding: 0">
                            Not available
                        </td>
                        <td><%=news[i].u_name%></td>
                        <%}%>
                        <td><%=news[i].views%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    </div>
</div>

<input type="hidden" name="role_id" id="role_id" value=<%=role_id%>>
<script>

    var offset = 20;
    $('#url').change(function (){
        window.location.href = this.value;
    });
    function approved(a){
        $.ajax({
            url:"/admin/notapproved/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                console.log('done');
                window.location.href = window.location.href;
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
    function notapproved(a){
        $.ajax({
            url:"/admin/approved/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                console.log('done');
                window.location.href = window.location.href;
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
    function unchecked(a){
        $.ajax({
            url:"/admin/notimportant/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                console.log('done');
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
    function checkedit(a){
        $.ajax({
            url:"/admin/important/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                console.log('done');
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
    $('a.confirm').on('click', function(){
        if(!confirm('Confirm Deletion')){
            return false;
        }
    });

    function myFunction() {
        var query = document.getElementById('query').value;
        if(query == "title"){
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                console.log(td);
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        } else if(query == "subcategory"){
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        } else if(query == "category"){
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
    function sendNotification(title,description){
        $.ajax({
            url:"/admin/sendNotification/" + title + '/' + description,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                console.log('done');
                if(data.message == 'error'){
                    alert('Notification Not Sent, Something went wrong');
                } else {
                    alert('Notification Sent');
                }
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }
    var j = offset+1;
    var role_id = document.getElementById('role_id').value;
    function getMoreNews(user,is_approved){
        $.ajax({
            url:"/admin/getMoreNews/" + user + '/' + is_approved + '/' + offset,
            dataType: "jsonp",
            type:"GET",
            success: function(news){
                // console.log(news);
                if(news.length != 0){
                    // console.log(news);
                    for(var i=0;i<news.length;i++,j++){
                        var news_title = `${news[i].title}`;
                        var news_short_description = `${news[i].short_description}`;
                        if(role_id == 1 || role_id == 2){
                            if(news[i].imp == 1){
                                var imp = '<td style="text-align: center;padding: 0"><div class="form-group"><input type="checkbox" name="is_imp" id="" value="'+ news[i].news_id +'" onchange="unchecked(this.value)" checked></div></td>';
                            } else {
                                var imp = '<td style="text-align: center;padding: 0"><div class="form-group"><input type="checkbox" name="is_not_imp" id="" onchange="checkedit(this.value)" value="'+ news[i].news_id +'"></div></td>';
                            }
                            if(news[i].is_approved == 1){
                                var approve = '<td style="text-align: center;padding: 0"><div class="form-group"><input type="checkbox" name="is_approved" id="" value='+ news[i].news_id +' onchange="approved(this.value)" checked></div></td>';
                            } else {
                                var approve = '<td style="text-align: center;padding: 0"><div class="form-group"><input type="checkbox" name="is_not_approved" id="" value="'+ news[i].news_id +'" onchange="notapproved(this.value)"></div></td>';
                            }
                            var notification = '<td style="padding: 0"><div class="row" style="margin-top: 5px"><div class="col-12" style="text-align: center"><a href="#" onclick="sendNotification('+ news_title +','+ news_short_description +')" style="background-color: #007BFF;color:white;text-decoration: none;padding: 4px 7px;border: 0" class="btn btn-primary">Send</a></div></div></td>';
                            $('#addNews').append('<tr><th style="padding: 0 5px">'+j+'</th><td style="padding: 0"><p style="height: 40px;overflow: hidden;padding: 0;margin: 0">'+ news[i].title +'</p></td><td style="padding: 0">'+ news[i].c_name +'</td><td style="padding: 0">'+ news[i].city +'</td><td style="padding: 0"><div class="row" style="margin-top: 5px"> <div class="col-6"> <a href="/edit-news/'+ news[i].news_id +'" style="background-color: #007BFF;color:white;text-decoration: none;padding: 4px 7px;border: 0" class="btn btn-primary">Edit</a></div><div class="col-6"><a href="/delete-news/'+ news[i].news_id +'" style="background-color: #DC3545;text-decoration: none;padding: 4px 8px;border:0;color: white" class="confirm btn btn-primary">Delete</a></div></div></td>'+imp+''+ approve +' '+notification+'<td>'+ news[i].u_name +'</td></tr>');
                        } else if(role_id == 3) {
                            $('#addNews').append('<tr><th style="padding: 0 5px">'+j+'</th><td style="padding: 0"><p style="height: 40px;overflow: hidden;padding: 0;margin: 0">'+ news[i].title +'</p></td><td style="padding: 0">'+ news[i].c_name +'</td><td style="padding: 0">'+ news[i].city +'</td><td style="padding: 0"><div class="row" style="margin-top: 5px"> <div class="col-6"> <a href="/edit-news/'+ news[i].news_id +'" style="background-color: #007BFF;color:white;text-decoration: none;padding: 4px 7px;border: 0" class="btn btn-primary">Edit</a></div></div></td></tr>');
                        }
                    }
                }
            },
            error: function(err){
                console.log(err.status);
            }
        });
        offset = offset +5;
    }
</script>
<%- include('../navigation/footer') %>